*using numpy we can make dataset

In [3]:
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),columns = ['A','B','C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
halka = pd.DataFrame({"name":["halka","adi","subi"],"spicy_tolerance":["tolerate","tooomuch","verymuch"]})
halka

    name spicy_tolerance
0  halka        tolerate
1    adi        tooomuch
2   subi        verymuch

In [20]:
data = np.array([(1,2,3),(4,5,6),(7,8,9)],dtype = [("a","i4"),("b","i4"),("c","i4")])
d = pd.DataFrame(data,columns = ["b","c"])
d

   b  c
0  2  3
1  5  6
2  8  9

In [28]:
s = pd.Series([1,2,3],index = ["a","b","c"])
s
da = pd.DataFrame(s,columns = ["a"])
da

   a
a  1
b  2
c  3

* we can use select_dtype() and select data accordingly

In [34]:
d = pd.DataFrame([True,False]*3)
d.select_dtypes(include = "bool")

       0
0   True
1  False
2   True
3  False
4   True
5  False

*we have .at and .iat to get particular value from given dataframe

In [39]:
#firstky using .at
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),index = ['a','b','c'],columns = ['x','y','c'])
df.at['c','c']

#now lets see its difference with .iat
df.iat[0,1]

2

* loc to access multiple rows and columns

In [43]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),index = ["hulka","kumuda","subiya"])
df.loc["kumuda"]
df.loc["subiya"]>6

0    True
1    True
2    True
Name: subiya, dtype: bool